body {
  margin: 0;
}

@font-face { 
  font-family: "GilroyLight";
  src: url("./fonts/GilroyLight/GilroyLight.eot");
  src: url("./fonts/GilroyLight/GilroyLight.eot?#iefix")format("embedded-opentype"),
  url("./fonts/GilroyLight/GilroyLight.woff") format("woff"),
  url("./fonts/GilroyLight/GilroyLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face { 
  font-family: "DINPro";
  src: url("./fonts/DINPro/DINPro-CondensedRegular.eot");
  src: url("./fonts/DINPro/DINPro-CondensedRegular.eot?#iefix")format("embedded-opentype"),
  url("./fonts/DINPro/DINPro-CondensedRegular.woff") format("woff"),
  url("./fonts/DINPro/DINPro-CondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}